.mw-100 {
    max-width: 90% !important;
    width: 70%;
    margin: 45px 0 3px 80px;

}

.tkt {
    margin-left: auto;
    margin-right: auto;
}

.ert {
    background-color: #6bd098;
    width: "55%";
    height: "80%";
}

.tku {
    background-color: #6bd098;
    display: "flex";
    width: "20%";
    height: "80%";
}

.cre {
    margin-bottom: 4%;
}

.mrkt {
    background-color: black;
}

.mll {
    margin-left: auto;
}

.mrr {
    margin-right: auto;
}

.htr {
    width: "40%";
}

.akt {
    color: #000;
    width: "40%";
    height: "40%",
}

.bld {
    font-weight: 700;
}

.bldk {
    font-size: 20px;
    font-weight: 700;
}

.mllt {
    margin-left: auto;
    margin: 0px 0px 3% 75%;
}

.mla {
    margin-left: auto;
    margin-bottom: 3%;

}

.mra {
    margin-right: 0px;
    margin-bottom: 3%;

}


.mlltk {
    margin-right: auto;
    margin: 0px 75% 3% 0px;
}

.mlk {
    width: 100%;
    /*margin: 0px 0px 0px 10%;*/
}


.dtclr {
    background-color: #49505766 !important;
}

.asd {
    overflow-y: scroll;
    height: 200px;
}

.tkh {
    width: 80%;
    height: 20%;
}

.tkl {
    width: 100%;
    height: 16%;
}

.ta {
    display: flex;
}

.as2 {
    background-color: #ffffff;
    width: "100%";
    min-height: "100%";
    max-height: "120%";
    display: flex;


}

.bsl {
    height: 20%;
}

.bsp {
    height: 40%;
}

.bst {
    height: 24%;
    width: 45%;
    /*background-color: brown;*/
    display: flex;
    margin-top: 0px;
    margin-left: 65%;
    margin-bottom: 13%;
}

.as1 {
    
    background-color: #6bd098;
    width: "100%";
    height: "15%";
    display: flex;
}

.ytt {
    background-color: #6bd098;
    width: "55%";
    height: "80%";
}

.yrrf {
    background-color: #6bd098;
    display: flex;
    width: "20%";
    height: "80%";
}

.ta {

    width: 100%;
}

.yhık {
    width: 100%;
    display: flex;

}

.mlta {
    margin-left: 10%;
}

.mrta {
    margin-left: 90%;
}

.mnb {
    min-width: 100% !important;

}

.mnbk {
    min-width: 100%;
    margin-top: 0px;

}

.dsf {
    display: flex;
}

.plk {
    min-width: 100%;
    min-height: 100%;
}

.mt {
    margin-top: 6%;
}

.ese {

    display: flex !important;
    background-color: #6bd098;
    min-width: 100%;
    min-height: 450px;
}

.eseic {
    display: flex;
    background-color: #ffffff;
    min-width: 98%;
    min-height: 420px;
    margin: auto;
}

.navbar {
    background: #6bd098 !important;
}

.wh {
    min-width: 45% !important;
}

.ht {
    min-height: 30% !important;
}

.mtb {
    margin: 10%;
}

.dfk {
    font-size: 30px !important;
}

.bslk {
    min-height: 25%;
}

.clts {
    background-color: rgb(104, 36, 168) !important;
}

.maa {
    margin: 5%;
}

.maaf {
    margin-left: 40%;
}

.brc {
    background-color: #6bd098 !important;
}

.bso {
    height: 8%;
}

.tabcls {
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 60%;
}

.wht {
    min-width: 100%;
}

.htt {
    min-height: 40%;
}

.whtp {
    min-width: 100%;
}

.iki {
    
    min-width: 80%;
}

@media screen and (max-width: 700px) {
    .whtp {
        min-width: 30%;
    }

    .iki {
        width: 40%;
    }

    .mr-auto {
        margin-right: 10%;
        margin-left: 6%;
    }

    .mw-100 {
        max-width: 10%;
    }

    .ta {
        display: block;
    }
}

@media screen and (max-width: 300px) {
    .dfk {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 800px) {
    .mllt {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .bst {
        margin-left: 0px;
    }
    .mw-100{
     max-width: 90%;
    }
    .nbv{
     margin-left: 0px;
    }
}

.th {
    min-width: 100%;
}

.a{
    color: black!important;
}

.children{
    background-color: red;
}
.phone{
    width: 20%;
    height: 20%;
}
.a2{
    background-color: #6bd098;
}